
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .error-image {
            background-image: url( "../images/25-star-wars-quotes-obi-wan-kenobi-identification-tall.webp");
            background-repeat: no-repeat;
            background-attachment:fixed;
            height: 60vh;
            margin: 0;
        }
        .error-image h1 {
            font-size: 5rem;
            color: white;
        }

    </style>
</head>
<body>
    <div class="error-image">
        <h1 align="center">These are no the Pages you are looking for</h1>
    </div>
    
    <a asp-action="HomeView" asp-controller="Home">Take me home </a>

</body>

</html>
