
@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}


<style>
    .image img {
        width: 100vw;
        height: 80%;
    }
    .arc-msg{
        font-size: large;
        padding-inline: 10rem;
        margin-top: 0rem;
    }
</style>

<div class="image">
    <img src="~/images/419f80_5dde8be048614c83bfe1b6b29e9e6146.webp"/>
</div>
<div class="arc-msg">
    <p>Anderson residential company is a company that is family owned, and operated. We take pride in offering high quality products and services at competitive prices. Providing first rate services at reasonable prices is how we believe all customers should be treated, and being family run is how we are able to do that! xxxx Anderson (Owner) has over Fifteen years’ experience in residential remodeling, with a good standing with the state of Washington and is fully licensed, bonded and insured.</p>
    <p>Call today for a Free  estimate: xxx-220-6594</p>
    <p>Credibility:</p>
    <p>Remodeling  in the state of  Washington since 2007, insured, licensed and carries a contractors bond. We always strive to maintain a professional standards as we recognize our responsibility to you.</p>
    <p>Quality:</p>
    <p>While many things change one thing remains the same: our commitment to build quality into every home, utilizing quality materials, professional craftsmanship, and cutting-edge technology.</p>
    <p>Excellent Customer Service:</p>
    <p>
        We take much pride of our reputation. Our repeat and referral customers constitute a great percentage of our ongoing business.<br>
        Satisfaction Guaranteed!
    </p>
</div>
