@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}

<style>
    .wrapper{
        display: flex;
        background-color: #343a40;
        flex-direction: column;
        border-radius: 20px;
        color: white;
        padding: 10%;
        padding-block: 15%;
        margin-inline:15%;
        margin-block:10%;
    }
    .inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>




<div class="wrapper">
    <h1>SERVICES</h1>
    <div class="inner">
        <div>
            <ul>
                <li>Bathroom Remodeling</li>
                <li>Cabinet installation</li>
                <li>Ceilings</li>
                <li>Crawlspace Work</li>
                <li>Deck Construction</li>
                <li>Demolition</li>
                <li>Doors & Windows</li>
                <li>Drywall Installation</li>
                <li>Taping</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Exteriors & Interior</li>
                <li>Remodeling</li>
                <li>Fencing</li>
                <li>Finishing & Refinishing</li>
                <li>Repair</li>
                <li>Flooring</li>
                <li>Framing</li>
                <li>Gutters</li>
                <li>Handyman Service</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Kitchen Remodeling</li>
                <li>Lighting</li>
                <li>Post & Beam Frames</li>
                <li>Tile & Back-splashes</li>
                <li>Siding</li>
                <li>Storm & Wind Damage Repair</li>
                <li>Termite Damage Repair</li>
                <li>Texturing</li>
                <li>Walls</li>
            </ul>
        </div>
    </div>
</div>